[Desktop Entry]
Type=Application
Name=Prelude
Comment=Play muisc via MPD
Categories=Audio;Music;
Exec=prelude -u %u
Icon=musicbrainz
StartupNotify=true
Terminal=false
MimeType=x-scheme-handler/prelude;
